* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    padding: 24px;
    margin: 0;
    background-color: f4f4f9;
}

h1 {
    margin-bottom: 16px;
}

a {
    color: blue;
}

.favorite {
    color: crimson;
}

ul {
    background-color: white;
    border: 1px solid #cccccc;
    padding: 20px 40px; 
    margin-top: 10px ;
}

li {
    margin-bottom: 8px;
}